[tools]
talosctl = "1.11.6"
talhelper = "3.0.43"
kubectl = "1.34.2"
helmfile = "1.2.3"
helm = "3.19.2"
usage = "2.8.0"

[tasks."talos:genconfig"]
dir = "talos"
run = "talhelper genconfig --secret-file <(op inject -i talsecret.yaml)"
outputs = ["talos/clusterconfig"]

[tasks."talos:apply"]
dir = "talos"
depends = ["talos:genconfig"]
confirm = "Are you sure you want to apply the talos config to all nodes?"
run = "talhelper gencommand apply | bash"

[tasks."talos:bootstrap-k8s"]
dir = "talos"
depends = ["talos:genconfig"]
run = """
KUBECONFIG=$(mktemp)
trap 'rm -f "$KUBECONFIG"' EXIT
talhelper gencommand kubeconfig --extra-flags - | bash > "$KUBECONFIG"
helmfile --kubeconfig "$KUBECONFIG" --file '{{ config_root }}/bootstrap/helmfile.yaml' sync
"""
