pokedex-brock.yaml
pokedex-surge.yaml
pokedex-misty.yaml
talosconfig
pokedex-vaporeon.yaml
pokedex-bulbasaur.yaml
pokedex-geodude.yaml
pokedex-sylveon.yaml
pokedex-eevee.yaml
pokedex-flareon.yaml
pokedex-magikarp.yaml
pokedex-pikachu.yaml
